:root{
    /*colors*/
    --bg-body: hsl(0, 0%, 8%);
    --bg-contact: hsl(0, 0%, 14%);
    --clr-text-white: hsl(0, 0%, 100%);
    --clr-text-gray: hsl(0, 0%, 85%);
    --clr-accent-green: hsl(154, 71%, 59%);
    --clr-errorMessage: hsl(7, 100%, 68%);

    /*typography*/

    /*Font-size desktop*/
    --fs-heading-desktop-88: 5rem;

    /*line-heigh*/
    --lh-paragraph-desktop: 1.56;

    /*Font size mobile*/
    --fs-heading-mobile-40: 2.6rem;
    --fs-heading-mobile-32: 2rem;
    --fs-paragraph-mobile-16: 1rem;

    /*line-heigh*/
    --lh-paragraph-mobile: 1.625;

    /*Mobile and desktop same Font-size */
    --fs-heading-48: 3rem;
    --fs-paragraph-18: 1.125rem;
    --fs-heading-24: 1.5rem;

    /*font weight*/
    --fw-700: 700;
    --fw-500: 500;

    /*margin and paddings*/
    --sectionsMargin-mobile: 5rem;
    --projectSection-margin-mobile: 1.25rem;

    /*Experience-section*/
    --rowGap-experience-desktop: 3.625rem;
    --columnGap-experience-desktop: 2.1875rem;

    /*Experience-section mobile*/
    --rowGap-experience-mobile: 1.5rem;

    /*Project-section*/
    --rowGap-project-desktop: 4.3125rem;
    --columnGap-project-desktop: 1.875rem;

    /*Project-section mobile*/
    --rowGap-project-mobile: 2.5rem;

    --container: 69.375rem;

}

*, html, body{
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
}

*{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

img{
    display: inline-block;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease-out;
    display: inline-block;
}

a:hover{
    color: var(--clr-accent-green);
}

::selection{
    background-color: var(--clr-accent-green);
}

h1, h2, h3{
    font-weight: var(--fw-700);
}

p{
    font-weight: var(--fw-500);
    line-height: 1.56;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bg-body);
    color: var(--clr-text-white);/*temporary*/
    font-size: var(--fs-paragraph-18);
    /* max-width: 1440px; */
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
}

.flex { /*to save some lines of code*/
    display: flex;
}

@media (max-width: 600px){
    .wrapper {
        width: calc(100% - 2rem);
        max-width: var(--container);
        margin: 0 auto;
        justify-content: center;
    }
}

@media (min-width: 700px) and (max-width:1036px) {
    .wrapper {
        width: calc(100% - 3.75rem);
        max-width: var(--container);
        margin: 0 auto;
        justify-content: center;
    }
}


.social-links svg path {
    fill: black;
    transition: fill 0.5s ease-out;
}

.social-links svg path:hover{
    fill: var(--clr-accent-green);
}

/*HEADER*/
header{
    margin-top: 2.4375rem;
    position: relative;
    z-index: 10000;
}
/*desktop*/
/* .wrapper{
    width: 77.1%; 
    margin: 0 auto;
    max-width: 1110px;
} */

.main-heading{
    font-size: 2rem;
}
.header{
    /* column-gap: 36.75rem; */
    justify-content: space-between;
    padding-right: 1.875rem;
}

.social-links{
    column-gap: 2rem;
    align-items: center;
}

/*header in mobile version*/

@media (max-width: 600px) {
    body{
        text-align: center;
    }

    header {
        margin-top: 1.25rem;
    }

    .main-heading {
        font-size: 1.5rem;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .social-links {
        margin-top: 1.25rem;
        column-gap: 1.6rem;
        align-content: center;
    }
}


/*hero section desktop*/

#hero{
    position: relative;
    bottom: 80px;
    overflow: hidden;
}

.hero-info{
    width: 63.604%;
    position: relative;
    top: 120px;
}

.hero-info img{
    position: relative;
    width: 530px;
    height: 129px;
    z-index: -999;
    left: -200px;
}


.heading-h2{
    font-size: var(--fs-heading-desktop-88);
    letter-spacing: -2.5px;
    line-height: 1;
}

.heading-h2 span{
    border-bottom: 6px solid var(--clr-accent-green);
    font-size: 4rem;
}

.hero-message{
    position: relative;
    top: -70px;
}

.long-text{
    margin: 2.3rem 0 4.125rem;
    width: 65.44%;
    line-height: var(--lh-paragraph-desktop);
}

.cta, button{
    font-weight: var(--fw-700);
    letter-spacing: 2.29px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--clr-accent-green);
    height: 38px;
    color: var(--clr-text-white);
}


.avatar {
    width: 40.09%;
    height: 720px;
    position: relative;
}


.avatar img{
    position: absolute;
    width: 100%;
    height: 90%;
}

/*hero section mobile*/

@media (max-width: 600px){
    #hero {
        overflow: visible;
        bottom: 0;
    }

    .flex{
        flex-wrap: wrap-reverse;
    }

    .social-links svg path {
        fill: rgb(253, 251, 251);
        transition: fill 0.5s ease-out;
    }

    .avatar {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        max-height: 320px;
    }

    .avatar img {
        min-width: 193px;
        max-width: 200px;
    }

    .hero-info {
        width: 100%;
        position: relative;
        text-align: center;
    }

    .hero-info img {
        position: absolute;
        width: 530px;
        height: 129px;
        z-index: -999;
        top: -450px;
        right: -500px;
    }

    .heading-h2{
        font-size: var(--fs-heading-mobile-40);
        letter-spacing: -1.14px;
    }

    .heading-h2 span {
        border-bottom: 4px solid var(--clr-accent-green);
        font-size: inherit;
    }

    .hero-message {
        position: relative;
        top: -130px;
    }

    .long-text {
        margin-top: 1.25rem;
        margin-bottom: 2rem;
        width: 100%;
        line-height: var(--lh-paragraph-desktop);
    }

    .hero-message a {
        font-weight: var(--fw-700);
        letter-spacing: 2.28571px;
        text-transform: uppercase;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        border-bottom: 2px solid var(--clr-accent-green);
    }
}

@media (min-width: 700px) and (max-width: 1102px){
    #hero {
        overflow: visible;
        bottom: 0;
        margin-bottom: 3.75rem;
    }

    .social-links svg path {
        fill: rgb(253, 251, 251);
    }

    .avatar {
        position: relative;
        margin-top: 2rem;
        display: flex;
        align-items: center;
    }

    .avatar img {
        position: absolute;
        right: -30px;
       width: 350px;
       height: 650px;
       z-index: -10;
    }
}

/*skill-set section*/

#skill-set{
    display: none; /*temp. made this section invisible*/
}

#skill-set .wrapper{
    border-top: 1px solid var(--clr-text-white);
    padding-top: 4.5rem;
}


.skill{
    width: 31.08%;
}

.skill h2{
    font-size: var(--fs-heading-48);
    letter-spacing: -1.5px;
    line-height: 1.17;
}

#skill-set .flex{
    flex-wrap: wrap;
    gap: var(--rowGap-experience-desktop) var(--columnGap-experience-desktop);
}

.bg-img{
    display: none; /*temp. made it invisible*/
    overflow: hidden;
    position: relative;
    bottom: 80px;
    z-index: -1;
}

.bg-img .img{
    background: url(assets/images/pattern-rings.svg) no-repeat;
    width: 530px;
    height: 129px;
    position: relative;
    left: 1150px;
}

@media (max-width: 600px){
    #skill-set{
        margin-top: var(--sectionsMargin-mobile);
    }

    #skill-set .wrapper {
        padding: 2.5rem 0;
        border-bottom: 1px solid var(--clr-text-white);
    }

    .skill{
        text-align: center;
        width: 100%;
    }
    .skill h2{
        font-size: var(--fs-heading-mobile-32);
    }

    #skill-set .flex {
        flex-direction: column;
        align-items: center;
        row-gap: var(--rowGap-experience-mobile);
    }

    .bg-img {
        bottom: 65px;
    }

    .bg-img .img {
        left: 200px;
    }

}

/*projects section*/

.section-title{
    justify-content: space-between;
    align-items: center;
}

.section-title a{
    display: none;
}

.project-listing {
    margin-top: 5rem;
}

ul.flex{
    gap: var(--rowGap-project-desktop) var(--columnGap-project-desktop);
    flex-wrap: wrap;
}
.work{
    width: 48.64%;
    height: auto;
}

.work-description{
    margin-top: 1.25rem;
}

h3{
    text-transform: uppercase;
}
.work-description .flex{
    column-gap: 1.125rem;
}

.links-mob{
    display: none;
}


/*adjustment to add hover effect*/
.work-img {
    position: relative;
}

.work-img img {
    display: block;
}

.links .project-width {
    width: 155px;
}

.links .code-width {
    width: 120px;
}

.work-img .links {
    position: absolute;
}

.work-img .links-0 {
    display: none;
    width: 100%;
    left: 0;
    top: 160px;
}

.work:hover .work-img img {
    filter: brightness(0);
    filter: opacity(30%);
}

.work-img:hover .links-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

/*project section mobile*/

@media (max-width: 600px){
    .project-listing{
        margin-top: 2.5rem;
    }

    ul.flex{
        row-gap: var(--rowGap-project-mobile);
    }

    .work{
        width: 100%;
    }

    h3{
        text-align: left;
    }
}

/*project section tablet*/
@media (min-width: 700px) and (max-width:1102px){
    .project-listing{
        margin-top: 3.75rem;
    }

    ul.flex{
        gap: 3.75rem 1.5rem;
    }

    .work{
        width: 48%;
    }
}

/*in order not to duplicate code i found that mobile and tablet share identical features so i mwrote a code which applies to both*/
/*mobile and tablet*/
@media (max-width: 1102px) {
    .work-img .links-0 {
        display: none;
    }

    .work:hover .work-img img {
        filter: none;
        filter: none;
    }

    .work-img:hover .links-0 {
        display: none;
    }

    /*this is the end of canceled code*/

    .links-mob {
        display: flex;
        column-gap: 1.875rem;
        margin-top: var(--projectSection-margin-mobile);
    }
}

/*Contacts*/

#contact {
    margin-top: 8.69rem;
    background-color: var(--bg-contact);
    height: auto;
}

.contact-info{
    width: 40.1%;
}

.contact-info p{
    margin-top: 2.25rem;
}

.contact_wrapper{
    padding: 5.25rem 0 5.75rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 13.50rem;
}

.contact_form {
    width: 40.1%;
}

.control input, .control textarea{
    color: var(--clr-text-white);
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.625;
    display: block;
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--clr-text-white);
    padding: 0 0 1rem 1.5rem;
    margin-bottom: 2rem;
}

.control textarea{
    height: 107px;
}

.control > *::placeholder{
    color: var(--clr-text-white);
    opacity: 0.5;
    font-size: 1rem;
}

.control.align-right{
    display: flex;
    justify-content: flex-end;
}

input[type *='email']:focus:invalid {
    border-bottom: 1px solid var(--clr-errorMessage);
}

input[type *='email']:focus:valid {
    border-bottom: 1px solid var(--clr-accent-green);
}

.control input:focus-visible, .control textarea:focus-visible{
    border-bottom: 1px solid  var(--clr-accent-green);
}

button{
    display: inline-block;
    background-color: transparent;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}

button:hover{
    color: var(--clr-accent-green);
}

@media (max-width: 1090px){
    #contact{
        margin-top: 5rem;
    }

    .contact-info{
        width: 100%;
    }

    .contact_form {
        margin-top: 3.125rem;
        width: 100%;
    }

    .contact-info p {
        margin-top: 1.25rem;
        font-size: 1rem;
    }

    .contact_wrapper {
        padding: 3.75rem 0 5.44rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 13.50rem;
    }
}

/*footer*/

#footer{
    background-color: var(--bg-contact);
}

.footer_wrapper{
    border-top: 1px solid var(--clr-text-white);
    display: flex;
    justify-content: space-between;
    padding: 2.94rem 0 5.75rem;
    align-items: center;
}

#footer ul li svg path{
    fill: #fff;
}

#footer ul li svg path:hover{
    fill: var(--clr-accent-green);
}

@media (max-width: 600px){
    .footer_wrapper {
        flex-direction: column;
        padding: 2.44rem 0 3.75rem;
    }
}

@media (min-width: 700px) and (max-width: 1102px){
    .footer_wrapper {
        padding: 1.875rem 0 2.5rem;
    }
}



