:root{
    /*colors*/
    --bg-black: hsla(0, 0%, 8%, 1);
    --text-white: hsl(0, 0%, 100%);
    --text-gray: hsla(0, 0%, 85%, 1);
    --accent-green: hsla(154, 71%, 59%, 1);
    --bg-darkGrey: hsla(0, 0%, 14%, 1);
    --errorMessage: hsla(7, 100%, 68%, 1);

    /*typography*/

    /*Font-size desktop*/
    --heading-desktop-88: 5.5rem;
    --paragraph-desktop-line: 1.56;

    /*Font size mobile*/
    --heading-mobile-40: 2.6rem;
    --paragraph-mobile-16: 1rem;
    --paragraph-mobile-line: 1.625;

    /*Mobile and desktop same Font-size */
    --heading-48: 3rem;
    --paragraph-18: 1.125rem;
    --heading-24: 1.5rem;

    /*margin and paddings*/
    --sectionsMargin-mobile: 5rem;
    --projectSection-margin: 1.25rem;
    /*row and column gaps: desktop*/

    /*Experience-section*/
    --rowGap-experience-desktop: 3.625rem;
    --columnGap-experience-desktop: 2.1875rem;

    /*Project-section*/
    --rowGap-project-desktop: 4.3125rem;
    --columnGap-project-desktop: 1.875rem;

    /*row and column gaps: mobile*/

    /*Experience-section*/
    --rowGap-experience-mobile: 1.5rem;

    /*Project-section*/
    --rowGap-project-mobile: 2.5rem;


}

*, html, body{
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
}

*{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--accent-green);
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bg-black);
    color: var(--text-white);/*temporary*/
    max-width: 1440px;
    margin: 0 auto;
}

.social-links svg path:hover{
    fill: var(--accent-green);
}

/*HEADER*/
header{
    margin-top: 2.4375rem;
}

.wrapper{
    width: 77.1%; /*desktop*/
    margin: 0 auto;
}

.main-heading{
    font-size: 2rem;
}
.header{
    display: flex;
    column-gap: 44.75rem;
}

.social-links{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}




