:root{
    /*colors*/
    --bg-body: hsl(0, 0%, 8%);
    --bg-contact: hsl(0, 0%, 14%);
    --clr-text-white: hsl(0, 0%, 100%);
    --clr-text-gray: hsl(0, 0%, 85%);
    --clr-accent-green: hsl(154, 71%, 59%);
    --clr-errorMessage: hsl(7, 100%, 68%);

    /*typography*/

    /*Font-size desktop*/
    --fs-heading-desktop-88: 5rem;

    /*line-heigh*/
    --lh-paragraph-desktop: 1.56;

    /*Font size mobile*/
    --fs-heading-mobile-40: 2.6rem;
    --fs-paragraph-mobile-16: 1rem;

    /*line-heigh*/
    --lh-paragraph-mobile: 1.625;

    /*Mobile and desktop same Font-size */
    --fs-heading-48: 3rem;
    --fs-paragraph-18: 1.125rem;
    --fs-heading-24: 1.5rem;

    /*font weight*/
    --fw-700: 700;
    --fw-500: 500;

    /*margin and paddings*/
    --sectionsMargin-mobile: 5rem;
    --projectSection-margin: 1.25rem;
    /*row and column gaps: desktop*/

    /*Experience-section*/
    --rowGap-experience-desktop: 3.625rem;
    --columnGap-experience-desktop: 2.1875rem;

    /*Project-section*/
    --rowGap-project-desktop: 4.3125rem;
    --columnGap-project-desktop: 1.875rem;

    /*row and column gaps: mobile*/

    /*Experience-section*/
    --rowGap-experience-mobile: 1.5rem;

    /*Project-section*/
    --rowGap-project-mobile: 2.5rem;


    --container: 69.375rem;


}

*, html, body{
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
}

*{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

img{
    display: inline-block;
    width: 100% ;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease-out;
    display: inline-block;
}

a:hover{
    color: var(--clr-accent-green);
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bg-body);
    color: var(--clr-text-white);/*temporary*/
    font-size: var(--fs-paragraph-18);
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
}

@media (max-width: 500px){
    .wrapper {
        width: calc(100% - 2rem);
        max-width: var(--container);
        margin: 0 auto;
    }
}


.social-links svg path {
    fill: black;
    transition: fill 0.5s ease-out;
}

.social-links svg path:hover{
    fill: var(--clr-accent-green);
}

.flex{
    display: flex;
}

/*HEADER*/
header{
    margin-top: 2.4375rem;
    position: relative;
    z-index: 10000;
}

.wrapper{
    width: 77.1%; /*desktop*/
    margin: 0 auto;
    max-width: 1110px;
}

.main-heading{
    font-size: 2rem;
}
.header{
    column-gap: 36.75rem;
}

.social-links{
    column-gap: 2rem;
    align-items: center;
}

/*header in mobile version*/

@media (max-width: 500px) {
    header {
        margin-top: 1.25rem;
    }

    .wrapper {
        width: 92%;
    }

    .main-heading {
        font-size: 1.5rem;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        margin-top: 1.25rem;
        column-gap: 1.6rem;
        align-content: center;
    }
}


/*hero section*/

.hero{
    position: relative;
    bottom: 80px;
    overflow: hidden;
}

.hero-info{
    width: 63.604%;
    position: relative;
    top: 120px;
}

.hero-info img{
    position: relative;
    width: 530px;
    height: 129px;
    z-index: -999;
    left: -200px;
}


.heading-h2{
    font-size: var(--fs-heading-desktop-88);
    font-weight: var(--fw-700);
    letter-spacing: -2.5px;
    line-height: 1;
}

.heading-h2 span{
    border-bottom: 6px solid var(--clr-accent-green);
    font-size: 4rem;
}

.hero-message{
    position: relative;
    top: -70px;
}

.long-text{
    margin-top: 2.3rem;
    width: 65.44%;
    font-size: var(--fs-paragraph-18);
    font-weight: var(--fw-500);
    line-height: var(--lh-paragraph-desktop);
}

.hero-message a{
    font-weight: var(--fw-700);
    letter-spacing: 2.28571px;
    text-transform: uppercase;
    margin-top: 4.125rem;
    border-bottom: 2px solid var(--clr-accent-green);
}


.avatar {
    width: 445px;
    height: 720px;
    position: relative;
}


.avatar img{
    position: absolute;
    width: 100%;
    height: 90%;
}